/* INICIO AJUSTES GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    list-style: none;
}

ul{
    list-style: none;
}

.espaciado{
    padding-bottom: 20px;
}

/* Alineacion y Tamaño del Texto */
@media screen and (max-width: 1023px){
    header p{
        font-size: 10px;
    }
    header h1{
        font-size: 18px;
    }
    header h2{
        font-size: 16px;
    }
    header h3{
        font-size: 14px;
    }
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: right;
}
p{
    font-size: 16px;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 20px;
}
/* Alineacion de Texto */

:root{
    --altura_header:5rem;
    --color_fondo: #f1eee9;
    --color_primario: #81766b;
    --color_secundario: #59524a;
    --color_blanco: white;
    --padding_left_right: 20px;
    --altura_footer:10rem;
    --ancho_completo:100vw;
}

body{
    font-family: Verdana, Arial;
}

/* FIN AJUSTES GENERALES */


/* INICIO HEADER */
header{
    height: var(--altura_header);
    width: 100vw;
}

nav{
    display: flex;
    height: var(--altura_header);
    width: 100vw;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    .section-nav{
        width: 45%;
    }
}
/* FIN HEADER */


/* INICIO MAIN */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 30px 0;
}

#block-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
}

.content-works{
    display: flex
;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--color_primario);
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    p{
        width: 100%;
    }
    picture{
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            width: 60%;
            border-radius: 10px;
            padding-bottom: 15px;
        }
    }
}
/* FIN MAIN */


/* INICIO FOOTER */
footer{
    height: var(--altura_footer);
    width: 100vw;
    background-color: var(--color_primario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* FIN FOOTER */