/* AJUSTES GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    list-style: none;
}

ul{
    list-style: none;
}

.espaciado{
    padding-bottom: 10px;
}

.text-center{
    text-align: center;
}

:root{
    --altura_header:5rem;
    --color_fondo: #f1eee9;
    --color_primario: #81766b;
    --color_secundario: #59524a;
    --color_blanco: white;
    --padding_left_right: 20px;
    --altura_footer:10rem;
}
body{
    font-family: Verdana, Arial;
}