/* INICIO AJUSTES GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    list-style: none;
}

ul{
    list-style: none;
}

.espaciado{
    padding-bottom: 10px;
}

/* Alineacion y Tamaño del Texto */
.text-center{
    text-align: center;
}
.text-left{
    text-align: right;
}

h1{
    font-size: 24px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 20px;
}
/* Alineacion de Texto */

:root{
    --altura_header:5rem;
    --color_fondo: #f1eee9;
    --color_primario: #81766b;
    --color_secundario: #59524a;
    --color_blanco: white;
    --padding_left_right: 20px;
    --altura_footer:10rem;
    --ancho_completo:100vw;
}

body{
    font-family: Verdana, Arial;
}

/* FIN AJUSTES GENERALES */


/* INICIO HEADER */
header{
    height: var(--altura_header);
    width: 100vw;
}

nav{
    display: flex;
    height: var(--altura_header);
    width: 100vw;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    .section-nav{
        width: 45%;
    }
}




/* FIN HEADER */


/* INICIO MAIN */
.section-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 30px 0;
}





/* FIN MAIN */


/* INICIO FOOTER */




/* FIN FOOTER */